.input{
    display: flex;
    margin: 10px;
    padding: 5px;
    align-items: center;
}
.input > label{
    margin: 10px;
    font-weight: bold;
    color: blue;
}
.input > input{
    margin: 10px;
    padding: 10px;
    color: red;
}
.output{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: 400;
    font-family: "Coral Pixels", serif;
    font-style: normal;
}